{% extends 'base.html.twig' %}

{% block title %}Issues{% endblock %}

{% block body %}
    <h1>Issues</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ issue.id }}</td>
            </tr>
            <tr>
                <th>Nom_issue</th>
                <td>{{ issue.nomIssue }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ issue.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('issues_index') }}">back to list</a>

    <a href="{{ path('issues_edit', {'id': issue.id}) }}">edit</a>

    {{ include('issues/_delete_form.html.twig') }}
{% endblock %}
