{% extends 'base.html.twig' %}

{% block title %}UsersAccount index{% endblock %}

{% block body %}
    <h1>UsersAccount index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_user</th>
                <th>Prenom_user</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for users_account in users_accounts %}
            <tr>
                <td>{{ users_account.id }}</td>
                <td>{{ users_account.nomUser }}</td>
                <td>{{ users_account.prenomUser }}</td>
                <td>
                    <a href="{{ path('users_account_show', {'id': users_account.id}) }}">show</a>
                    <a href="{{ path('users_account_edit', {'id': users_account.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('users_account_new') }}">Create new</a>
{% endblock %}
