{% extends 'base.html.twig' %}

{% block title %}UsersAccount{% endblock %}

{% block body %}
    <h1>UsersAccount</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ users_account.id }}</td>
            </tr>
            <tr>
                <th>Nom_user</th>
                <td>{{ users_account.nomUser }}</td>
            </tr>
            <tr>
                <th>Prenom_user</th>
                <td>{{ users_account.prenomUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('users_account_index') }}">back to list</a>

    <a href="{{ path('users_account_edit', {'id': users_account.id}) }}">edit</a>

    {{ include('users_account/_delete_form.html.twig') }}
{% endblock %}
